peft==0.17.1
chatterbox-tts==0.1.2
transformers>=4.46,<5
diffusers==0.29.0
silero-vad==6.2.0
librosa==0.11.0
soundfile==0.13.1
num2words
ffmpeg-python
tqdm
pandas
safetensors
tensorboard
omegaconf
hf_transfer
pyloudnorm
gdown
datasets
requests
